BasedOnStyle: LLVM
Language: Cpp
Standard: c++20

IndentWidth: 2
TabWidth: 2
UseTab: Never

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: Never

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceInEmptyParentheses: false

AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
